<!DOCTYPE html>
<html>

<head>
  <script src="angular.min.js"></script>
    <style type="text/css">
        .minefield {
        line-height:0;
        border-spacing:0;
}

.minefield td {
    padding:0
}
    </style>
</head>


<body>
<div ng-app="myApp" ng-controller="myCtrl">

 <table border="0px" class= 'minefield'>
      <tr ng-repeat="row in minefield.rows">
    <td ng-repeat="spot in row.spots" ng-click="spot.isRevealed = true; clickMine(minefield, spot)">
        <img ng-if="!spot.isRevealed" src="image/covered.png">
        <img ng-if="spot.isRevealed && spot.content == 'wrong'" src="image/mine-wrong.png"">
        <img ng-if="spot.isRevealed && spot.content == 'empty'" src="image/empty.png">
        <img ng-if="spot.isRevealed && spot.content == 'mine'" src="image/mine.png">
        <img ng-if="spot.isRevealed && spot.content == 1" src="image/number-1.png">
        <img ng-if="spot.isRevealed && spot.content == 2" src="image/number-2.png">
        <img ng-if="spot.isRevealed && spot.content == 3" src="image/number-3.png">
        <img ng-if="spot.isRevealed && spot.content == 4" src="image/number-4.png">
        <img ng-if="spot.isRevealed && spot.content == 5" src="image/number-5.png">
        <img ng-if="spot.isRevealed && spot.content == 6" src="image/number-6.png">
        <img ng-if="spot.isRevealed && spot.content == 7" src="image/number-7.png">
        <img ng-if="spot.isRevealed && spot.content == 8" src="image/number-8.png">
    </td>
</tr>
    </table>

</div>

<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope) {

    $scope.clickMine = function(minefield, spot){
        if(spot.content == 'mine'){
            spot.content = 'wrong';
            for(var y = 0; y < 9; y++) {
                for(var x = 0; x < 9; x++) {
                    var spot_tmp = getSpot(minefield, x, y);
                    spot_tmp.isRevealed = true;
                }
            }
        }        
    }


    function getSpot(minefield, row, column) {
        return minefield.rows[row].spots[column];
    }

    function placeRandomMine(minefield) {
        var row = Math.round(Math.random() * 8);
        var column = Math.round(Math.random() * 8);
        var spot = getSpot(minefield, row, column);
        spot.content = "mine";
    }    
       
      function placeManyRandomMines(minefield) {
           for(var i = 0; i < 10; i++) {
               placeRandomMine(minefield);             
           }
    }

    function calculateNumber(minefield, row, column) {
       //write code to calculate for number
       var x = [-1,-1,-1, 0, 0, 1, 1, 1];
       var y = [-1, 1, 0, 1,-1,-1, 0, 1];
       var number = 0;
       var  spot = getSpot(minefield, row, column);
       if(spot.content=="empty"){
       for(i=0; i<8; ++i){
        if((row + x[i])<0 || (column+y[i])<0 || (row + x[i])>=9 || (column+y[i])>=9){
            continue;
        }
 
        var spot_tmp = getSpot(minefield, row + x[i], column+y[i]);
        if(spot_tmp.content == "mine"){
            number++;
        }
       }
        // spot.content = number.toString();
        if(number == 0)
            spot.content = "empty";        
        else
            spot.content = number;
    }
    }


    function calculateAllNumbers(minefield) {
        for(var y = 0; y < 9; y++) {
            for(var x = 0; x < 9; x++) {
                calculateNumber(minefield, x, y);
            }
        }
    }

    function createMinefield () {
             var minefield = {};
            minefield.rows = [];

              for(var i = 0; i < 9; i++) {
                  var row = {};
                  row.spots = [];

                  for(var j = 0; j < 9; j++) {
                      var spot = {};
                      spot.content = "empty";
                      spot.isRevealed = false;
                      row.spots.push(spot);
                  }

                  minefield.rows.push(row);
              }
             placeManyRandomMines(minefield);
            calculateAllNumbers(minefield);
            return minefield;
        };

        $scope.minefield = createMinefield();
            // code goes here
        
});
</script>

</body>
</html>

